@font-face {
    font-family: Diwanltr;
    src: url('../fonts/Diwanltr.ttf');
}

#search{
    width: 100%;
    background-size: 100% 100%;
} 

/*and finally, we serve for every view-port the right image:*/

/* Retina display */
@media screen and (min-width: 1024px){
    #search{
        background-image: url('../img/lantern.jpg');
    }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    #search{
        background-image: url('../img/lantern.jpg');
    }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    #search{
        /*background-image: url('../img/lantern_tablet.jpg');*/
    }
}

@media screen and (min-width: 760px) and (max-width: 980px) and (orientation:portrait) {
    #search{
        
        -webkit-background-size: 768px 1024px !important;
        background-size: 768px 1024px !important;
        background: url('../img/lantern.jpg') no-repeat center top #000 !important;
    }
}

.square { width: 50%; height: 50%; float: left; }
#verse { 
    display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}
#textfield {
    display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}


.diwanltr {
    font-family: Diwanltr;
}

.diwanltr .diwanltr-menu {
    font-size: 24px;
    margin-right:35px;
    padding-top: 9px;
}

.outer {
    display: table;
    position: absolute;
    height: 110%;
    width: 100%;
    text-align: center;
    margin-top: 85px;
    
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    display: block;
    margin: auto;
    width: 40%;
}


.search-form {
    padding-top: 25px;
    width: 100%;
}