<!--========================================================
                CONTENT
=========================================================-->


</style>
<main class="page-content">
  <!-- Search -->
  <section id="search" ng-include src="'/partial/search-section'" ng-controller="DisplayController" scroll></section>
  <!-- END Search -->
  <!-- Results -->
  <section id="read" class="read"  ng-include src="'/partial/results-section'" ng-controller="ResultsController"></section>  
  <!-- END Results -->
</main>