<!--========================================================
                CONTENT
=========================================================-->
<style>

.btn {
     border: black;
   }
   .toolbar {
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 100%;
   }
   .black__text {
      color: black;
      text-align:left;
   }

   .rd-mailform input, .rd-mailform textarea {
    border: none;
   }

  #search {
  /* Location of the image */
  background-image: url(/static/img/lantern.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  height:100vh;
  min-height:100vh;
}


</style>
<main class="page-content" ng-controller="QueryController" >
  <!-- Search -->
  <section id="search" ng-include src="'/partial/search-section'" ng-controller="DisplayController" scroll></section>
  <!-- END Search -->
  <!-- Results -->
  <section id="read" class="read" ng-include src="'/partial/results-section'" ng-style="{height: hgt+ 'vh'}"></section>  
  <!-- END Results -->

</main>