#search {
  background-image: url(/static/img/lantern.jpg);background-repeat: no-repeat;
  background-position: center center;background-attachment: fixed;
  -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;
  background-size: cover;

}
.full-page {
  height:100vh;min-height:100vh;
  
}

.vcenter {/*padding: 30px;*/}