#search {
  background-image: url(/static/img/lantern.jpg);background-repeat: no-repeat;
  background-position: center center;background-attachment: fixed;
  -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;
  background-size: cover;

}
.full-page {
  height:100vh;min-height:100vh;
  
}

.vcenter {/*padding: 30px;*/}
 .space {height:100px;}
  .title {font-size:20px; margin-bottom: 20px;}
  /*[class^="col-"],[class*=" col-"] {padding-left:0px;padding-right:0px;}*/
  .table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    height:75px;
  }
  th {
    text-align: center;
  }
  #verse_nav {width: 50%;}
  #verse_nav .nav-btn {background-color: #337ab7;
    border-color: #2e6da4;}
  #verse_nav .nav-btn a {
    text-decoration: none;color: #fff;
  }
  #verse_nav tr td {
    border: none;
    height: 25px;
  }