<!--========================================================
                CONTENT
=========================================================-->
<style>
   .btn {
     border: black;
   }
   .toolbar {
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 100%;
   }
   .black__text {
      color: black;
      text-align:left;
   }

   .rd-mailform input, .rd-mailform textarea {
    border: none;
   }

  #search {
  /* Location of the image */
  background-image: url(img/lantern.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

</style>
<main class="page-content" ng-controller="QueryController" internationalize>
  <!-- Introduction -->
  <section id="search" data-index="1" data-type="anchor" class="bg-default set-relative">
    <div ng-translate-language-select></div>
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <table>
          <tr ng-repeat="item in hits">
          <td>{{item['_source']['arabic']}}</td></tr>
        </table>
          <img src="img/search-logo.png" style="display: inline"/>
          <form class="rd-mailform search-form">
            <div >
              <div flex-item >
                <div class="card" >
                  <div class="toolbar" >
                    <span ng-click="toggleSearch()" class="toolbar__label fs-title ml black__text" style="color: #9e9e9e;">{{ "content.search.tip" | translate }}</span>
                    <!-- <span class="toolbar__label fs-title ml black__text" contentEditable=true data-ph='{{ "content.search.tip" | translate }}'></span> -->
                    <div class="toolbar__right">
                      <lx-search-filter lx-width="400" lx-closed="true" is-open="isSearchOpen">
                        <input type="text" ng-model="vm.searchFilter.third">
                      </lx-search-filter>
                       <lx-dropdown lx-position="right" lx-over-toggle="true">
                          <lx-dropdown-toggle>
                            <lx-button lx-size="l" lx-color="black" lx-type="icon"><i class="mdi mdi-apps"></i></lx-button>
                          </lx-dropdown-toggle>
                          <lx-dropdown-menu>
                            <ul >
                              <li><a class="dropdown-link dropdown-link--is-header">{{ "content.search.popularLabel" | translate }}</a></li>
                              <li><a class="dropdown-link" ng-click="search()">{{ "content.search.popular1" | translate }}</a></li>
                              <li><a class="dropdown-link">{{ "content.search.popular2" | translate }}</a></li>
                              <li><a class="dropdown-link">{{ "content.search.popular3" | translate }}</a></li>
                            </ul>
                          </lx-dropdown-menu>
                        </lx-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
 </section>
  <section id="read" data-index="1" data-type="anchor" class="bg-default set-relative">
    read
  </section>
<!-- END Introduction-->
</main>